body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, hsl(189, 62%, 76%), #ffd194);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-bar button {
  padding: 10px 15px;
  border: none;
  background-color: #ff9800;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #fb8c00;
}

.weather-info {
  background: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 10px;
  text-align: left;
  display: inline-block;
  width: 300px;
}

.weather-info p {
  margin: 5px 0;
}

.weather-info {
  background: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 10px;
  text-align: left;
  display: inline-block;
  width: 300px;
}

.weather-info p {
  margin: 5px 0;
}


/* .historical-weather,
.forecast-weather {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  width: calc(50% - 20px);
  overflow: hidden;
  white-space: nowrap;
} */

/* @media screen and (max-width: 768px) {
  .historical-weather,
  .forecast-weather {
    width: 100%;
    margin: 0;
    overflow-x: auto;
  }
} */
